username                = "vcloud_api_user"
password                = "password"
org                     = "org_name"
vdc                     = "vdc_name"
url                     = "https://<vcloud_EP>/api"
vcd_network_direct_name = "EPG_name"
hashed_pass             = "****"
token_secret_key        = "****"
ansible_password        = "****"
domain                  = "example.domain"

/*
Note: to create hashed password for user-data: echo somapassword | mkpasswd -m sha-512 -s
*/
